@mixin gradient($deg, $from, $to) {
  /* fallback/image non-cover color */
  background: $from;
  background: -webkit-linear-gradient($deg, $from, $to);
  background: -o-linear-gradient($deg, $from, $to);
  background: linear-gradient($deg, $from, $to);

}
