@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Encode+Sans+Semi+Condensed|Life+Savers:700|Material+Icons');
$font-header: 'Life Savers', serif;
$font-body: 'Encode Sans Semi Condensed', sans-serif;
$color-primary: #40c4ff;
$color-secondary: #1de9b6;
