@import url('https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display:400,400i,700,700i,900,900i|Life+Savers:700|Pacifico|Material+Icons');
$font-header: 'Playfair Display', serif;
$font-body: 'Open Sans', sans-serif;
$color-primary: #40c4ff;
$color-secondary: #1de9b6;

$vma-navy: #063448;
$vma-sea: #1D7480;
$vma-teal: #5EC1CC;
$vma-gold: #A7A046;
