@import 'variables';
@import 'mixins';
/*
 * Globals
 */
* {
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
}
/* Selection */
::-moz-selection {
  color: #fff;
  background-color: $color-primary;
}

::selection {
  color: #fff;
  background-color: $color-primary;
}
/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}
/* Custom default button */
.btn-secondary,
.btn-secondary:focus,
.btn-secondary:hover {
  color: #333;
  border: 0.05rem solid #fff;
  background-color: #fff;
  text-shadow: none;
  /* Prevent inheritance from `body` */
}
/*
 * Base structure
 */
body,
html {
  height: 100%;
  background-color: #fff;
}

body {
  font-family: $font-body;
  text-align: center;
  color: #fff;
  background: #fff url('img/dsg-bg.jpg') center center no-repeat;
  //background: #fff;
  background-size: cover;
  text-shadow: 0 0.2rem 0.2rem rgba(0,0,0,.5);
}
/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
  box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
}

.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;

  &::before {
    position: absolute;
    z-index: 3;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    background: rgba(#000,.4);
  }
}

.cover-container {
  position: relative;
  z-index: 9;
  margin-right: auto;
  margin-left: auto;
}
/* Padding for spacing */
.inner {
  padding: 2rem;
}
/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  font-weight: bold;
  padding: 0.25rem 0;
  color: rgba(255,255,255,.5);
  border-bottom: 0.25rem solid transparent;
  background-color: transparent;
}

.nav-masthead .nav-link:focus,
.nav-masthead .nav-link:hover {
  border-bottom-color: rgba(255,255,255,.25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}
@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }

  .nav-masthead {
    float: right;
  }
}
/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;

  &-heading {
    font-family: $font-header;
    letter-spacing: 1px;
  }

  &-logo {
    width: 100px;
    height: auto;
  }
}

.cover {
  .btn {
    &-lg {
      font-weight: bold;
      padding: 0.75rem 1.25rem;
    }

    &-large {
      &:hover {
        text-decoration: none;
      }
    }
  }
}
/*
 * Footer
 */
.mastfoot {
  color: rgba(255,255,255,.5);
}
/*
 * Affix and center
 */
@media (min-width: 40em) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }

  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .cover-container,
  .mastfoot,
  .masthead {
    width: 100%;
    /* Must be percentage or pixels for horizontal alignment */
  }
}
@media (min-width: 62em) {
  .cover-container,
  .mastfoot,
  .masthead {
    width: 72rem;
  }
}

.infinite-spin {
  -webkit-animation: infinitespin 4s infinite linear;
  animation: infinitespin 4s infinite linear;
}
@-webkit-keyframes infinitespin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

canvas {
  display: block;
  vertical-align: bottom;
}
/* ---- particles.js container ---- */
#particles-js {
  position: absolute;
  z-index: 3;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url('');
  //background-color: #5EC4
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  @include gradient(0deg, rgba($color-primary,.7) 0%, rgba($color-secondary, .3) 50%);
}
